.body{
	
	background-color: teal
}



.panel{
	width: 100%;
}

.jumbotron{
	background-color: teal;

	color: white;
	padding-top: 1%;
	padding-bottom: 2%;
}

.panel-heading{
	padding-top: 0.25%;
}

.h1{
	font-family: 'Faster One', cursive
}